.avatar-big {
    width: 10rem;
    border-radius: 50%;
}

.perfil {
    margin-top          :       2rem;

    a {
        text-decoration :       none;
        color           :       $color-Morado;
    }
}