/* Breakpoints para poder realizar lo responsive */
$resoluciones : (
    xc        :     400px,
    c         :     480px,
    s         :     640px,
    m         :     800px,
    l         :     960px,
    lm        :     1200px,
    hd        :     1920px
) !default;