// Colores
$color-Fondo        :       #272727;
$color-Header       :       #E4E4E4; 
$color-Morado       :       #615094;
$color-Amarillo     :       #FFB034;
// Tamaños
$logo-tamanio       :       2.5rem;
$header-altura      :       3.5rem;
$max-width          :       1200px;
// Transiciones
$hover              :       .6s ease-in-out;