.agregarCliente {
    img {
        margin-left     :       32%;
    }
}

.seccion1--ListaClientes {
    .card__titulo {
        border          :       .15rem solid $color-Morado;
        border-bottom   :       none;
    }
}