#agregarReporte {
    img {
        margin-left             :       28.5%;
    }
}
.seccion1--ListarReportes {
    .seccion1__columnas {
        grid-template-columns   :       repeat(1,1fr);
    }

    .card-body {
        width                   :       100%;
    }

    .card__titulo {
        color                   :       $color-Header;
        background-color        :       $color-Morado;
    }

    .card__valor {
        font-size               :       1.5rem;
    }

    .card__botones {
        grid-template-columns   :       repeat(3,1fr);
    }
}